body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
  }
.first-mother {
 display: flex;
 width: 100%;
margin: 0;
padding: 0;
height: 70%;
flex-direction: row;
align-items: stretch;
justify-content: space-between;
margin-inline-start: 80px;

  }

  .logo  > img {
    width: 80%;
    height: 65%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
    .title-logo {
   text-align: center; 
 
}
.ids {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
 margin-right: 100px;
 padding: 10px;

 }
.box-ids{
 height: 100px;
 width: 100px;
 padding: 10px;
font-weight: bold;
text-decoration: none;
color: black;

 }
  
.nav-link{
font-size: 1.4rem;
text-decoration: none;

}

 .second-mother {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   gap: 10px;
     }
.Parrafo{
    font-size: 1.2rem;
    text-decoration: none;
    font-style: italic;
     }


     .three-mother {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
     padding: 100px;
     gap: 50px;
          }
     .first-item{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
     
          }
          .first-information, .second-information, .three-information  {
            margin-left: 70px;
              }

          .tours {
          text-align: left;
        
              }


 .second-item{
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: row;         
 }

 .entradas {
    text-align: left;
        }



.three-item{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;         
        } 


    .balon{
     text-align: left;
     }


     .four-mother{
      display: flex;
      justify-content: center;
      align-items: center;
        }
   

        .five-mother{
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          gap: 60px;
          margin-top: 100px;
         
              }

              .item-one, .item-two, .item-three {
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
              
                padding: 10px;
                background-color: rgb(235, 225, 225);
                    }
      .buy {
      margin-left: 70px;
       
            }


.information-end {
   display: flex;
   justify-content: space-around;
   text-align: center;
   flex-direction:column;
   gap: 10px;
   margin-top: 100px;
   text-decoration: none;
   color: black;
     
          }

.links {
    text-decoration: none;
    font-style: italic;
           }

.images:hover {
  transform: scale(1.1);
}

